div{
    color: white;
}

.feed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #202338 !important; // Dark gray color from your variables
}

.feed-image {
  width: 200px;
  height: auto;
}

h1 {
  color: white;
}