$white: #ffffff;
$very-light-gray: #d9d9d9;
$light-gray: #676f9d;
$gray: #424769;
$dark-gray: #202338;
$light-orange: #ffb17a;
$dark-orange: #c17b49;
$black: #000000;

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, $dark-gray, $gray);
}

.auth-container {
  background-color: $white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 420px;
  text-align: center;
  position: relative;
}

.auth-logo {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  span {
    color: $light-orange;
  }
}

.auth-container .clerk-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-container .clerk-button {
  background: $light-orange;
  color: $white;
  font-weight: bold;
  padding: 0.75rem;
  border-radius: 6px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.auth-container .clerk-button:hover {
  background: $dark-orange;
  transform: scale(1.05);
}

.auth-container input {
  border: 1px solid $very-light-gray;
  padding: 0.75rem;
  border-radius: 5px;
}

.auth-container input:focus {
  border-color: $dark-orange;
  outline: none;
  box-shadow: 0 0 5px rgba(193, 123, 73, 0.5);
}
