@import "../../../index.scss";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;300;400;500;600;700&display=swap");

.code-section-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4rem 2rem;
  background-color: $dark-gray;
  color: white;
  margin-top: 200px;
  .code-left {
    width: 30%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    p {
      font-family: "Roboto";
      font-size: clamp(1.5rem, 2.5vw, 2rem); // Adjusted size
      font-weight: 100;
      margin-bottom: -20px;
    }

    h2 {
      font-family: "Lexend Exa";
      font-weight: 300;
      font-size: clamp(2.5rem, 8vw, 4.5rem); // Adjusted size
      margin-bottom: -10px;
    }

    h5 {
      font-family: "Roboto";
      font-weight: 100;
      font-size: clamp(1.25rem, 2vw, 1.75rem); // Adjusted size
      color: $white;
      line-height: 1.6;
      margin-bottom: 2rem;
    }

    button {
      background-color: $light-orange;
      border: none;
      padding: 0.75rem 1.5rem;
      color: $black;
      font-size: clamp(1rem, 2vw, 1.25rem);
      font-family: "Jost", sans-serif;
      font-weight: bold;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: all 0.3s ease;
      display: flex;
      align-items: center;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba($very-light-gray, 0.3);
      }

      .arrow-icon {
        width: clamp(20px, 3vw, 30px);
        height: clamp(20px, 3vw, 30px);
        margin-left: 0.5rem;
      }
    }
  }

  .code-right {
    margin-left: 30px;
    display: flex;
    gap: 2rem;
    width: 60%;
    max-width: 950px;
    .code-snippet1,
    .code-snippet2 {
      display: flex;
      flex-direction: column;
      align-items: center;

      .profile-img {
        width: clamp(120px, 15vw, 200px);
        height: clamp(120px, 15vw, 200px);
        border-radius: 50%;
        margin-bottom: -15%;
        z-index: 100;
      }

      .snippet-card {
        background-color: #4247699e;
        width: auto !important;
        border-radius: 2rem;
        padding: 2rem;
        text-align: center;

        .quote-icon {
          color: $light-orange;
          width: clamp(40px, 5vw, 60px);
          height: clamp(40px, 5vw, 60px);
          margin-bottom: 1rem;
        }

        .snippet-name {
          font-size: clamp(1.25rem, 2.5vw, 1.75rem);
          margin: 0;
        }

        .snippet-content {
          font-size: clamp(0.9rem, 1.5vw, 1.1rem);
          font-weight: 100;
          margin: 0.5rem 0;
        }

        .snippet-img {
          width: 380px;
          height: 300px;
          border-radius: 1.5rem;
          margin-top: 1rem;
        }
      }
    }
  }
}

// Responsive Adjustments
@media screen and (max-width: 1200px) {
  .code-section-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;

    .code-left {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
    }

    .code-right {
      width: 100%;
      flex-direction: column;
      gap: 1rem;

      .code-snippet1,
      .code-snippet2 {
        margin-bottom: 2rem;
        .profile-img {
          width: clamp(120px, 15vw, 200px);
          height: clamp(120px, 15vw, 200px);
          border-radius: 50%;
          margin-bottom: -4%;
          z-index: 100;
        }
        .snippet-card {
          background-color: #4247699e;
          width: auto !important;
          border-radius: 2rem;
          padding: 1rem;
          text-align: center;
        }
        .snippet-img {
          width: 250px !important;
          height: 250px !important;
          border-radius: 1.5rem;
          margin-top: 1rem;
        }
      }
    }
  }
}
