@import "../../../index.scss";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;300;400;500;600;700&display=swap");

.blog-section-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 200px;
  overflow: hidden;
  .blog-left {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .blogs-top {
      display: flex;
      margin: 10px;

      .blog-post {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 30px;
        padding: 20px;
        text-align: center;
        color: white;
        margin: 10px;

        img {
          width: 300px;
          height: 300px;
          border-radius: 15px;
        }

        .blog-title {
          margin-top: 10px;
          font-size: 1.2rem;
        }
      }
    }
    .blogs-bottom {
      display: flex;
      margin: 10px;

      .blog-post {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #333;
        border-radius: 30px;
        padding: 20px;
        text-align: center;
        color: white;
        margin: 10px;

        img {
          width: 300px;
          height: 300px;
          border-radius: 15px;
        }

        .blog-title {
          margin-top: 10px;
          font-size: 1.2rem;
        }
      }
    }
  }
  .blog-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 30%;

    p {
      font-family: "Roboto";
      font-size: 30px;
      font-weight: 100;
      margin-bottom: -50px;
    }
    h2 {
      font-family: "Lexend Exa";
      font-weight: 300;
      font-size: clamp(2.5rem, 8vw, 4.5rem);
      margin-bottom: -10px;
    }
    h5 {
      font-family: "Roboto";
      font-weight: 100;
      font-size: 25px;
    }
    button {
      background-color: $light-orange;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.75rem 1.5rem;
      color: $black;
      font-size: clamp(1rem, 2.5vw, 1.25rem);
      font-family: "Jost", sans-serif;
      font-weight: bold;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: all 0.3s ease;
      width: 165px;
      height: 58px;
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba($very-light-gray, 0.3);
      }
      .arrow-icon {
        width: 40px;
        height: 40px;
        margin-left: 10px;
      }
    }
  }
}

//tablet and medium devices view
@media screen and (max-width: 1900px) {
  .blog-section-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 150px;

    .blog-left {
      display: flex;
      width: 50%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;

      .blogs-top {
        display: flex;
        margin: 10px;

        .blog-post {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 30px;
          padding: 20px;
          text-align: center;
          color: white;
          margin: 10px;

          img {
            width: 300px; // Decreased size
            height: 300px; // Decreased size
            border-radius: 15px;
          }

          .blog-title {
            margin-top: 10px;
            font-size: 1.1rem; // Decreased size
          }
        }
      }
      .blogs-bottom {
        display: flex;
        margin: 10px;

        .blog-post {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #333;
          border-radius: 30px;
          padding: 20px;
          text-align: center;
          color: white;
          margin: 10px;

          img {
            width: 300px; // Decreased size
            height: 300px; // Decreased size
            border-radius: 15px;
          }

          .blog-title {
            margin-top: 10px;
            font-size: 1.1rem; // Decreased size
          }
        }
      }
    }
    .blog-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      width: 50%;
      margin-right: 50px;
      margin-left: 20px;

      p {
        font-family: "Roboto";
        font-size: 30px; // Decreased size
        font-weight: 100;
        margin-bottom: -50px;
      }
      h2 {
        font-family: "Lexend Exa";
        font-weight: 300;
        font-size: 80px; // Decreased size
        margin-bottom: -15px;
      }
      h5 {
        font-family: "Roboto";
        font-weight: 100;
        font-size: 28px; // Decreased size
      }
      button {
        background-color: $light-orange;
        border: none;
        padding: 5px;
        color: $black;
        width: 240px; // Decreased size
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px; // Decreased size
        font-size: 32px; // Decreased size
        font-weight: bold;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        transition: box-shadow 0.3s ease, text-decoration 0.3s ease;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
          box-shadow: 0 4px 10px $very-light-gray;
        }
        .arrow-icon {
          width: 40px; // Decreased size
          height: 40px; // Decreased size
          margin-left: 10px;
        }
      }
    }
  }
}

//tablet and medium devices view
@media screen and (max-width: 1200px) {
  .blog-section-main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 150px;

    .blog-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;

      .blogs-top {
        display: flex;
        margin: 10px;

        .blog-post {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 30px;
          padding: 20px;
          text-align: center;
          color: white;
          margin: 10px;

          img {
            width: 250px;
            height: 250px;
            border-radius: 15px;
          }

          .blog-title {
            margin-top: 10px;
            font-size: 1.2rem;
          }
        }
      }
      .blogs-bottom {
        display: flex;
        margin: 10px;

        .blog-post {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #333;
          border-radius: 30px;
          padding: 20px;
          text-align: center;
          color: white;
          margin: 10px;

          img {
            width: 250px;
            height: 250px;
            border-radius: 15px;
          }

          .blog-title {
            margin-top: 10px;
            font-size: 1.2rem;
          }
        }
      }
    }
    .blog-right {
      margin-left: 20px;
      margin-right: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;

      p {
        font-family: "Roboto";
        font-size: 28px;
        font-weight: 100;
        margin-bottom: -20px;
      }
      h2 {
        font-family: "Lexend Exa";
        font-weight: 300;
        font-size: 55px;
        margin-bottom: -15px;
      }
      h5 {
        font-family: "Roboto";
        font-weight: 100;
        font-size: 20px;
        padding-left: 30px;
        padding-right: 20px;
        line-height: 32px;
        text-align: center;
      }
      button {
        background-color: $light-orange;
        border: none;
        padding: 5px;
        color: $black;
        width: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        font-size: 25px;
        font-weight: bold;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        transition: box-shadow 0.3s ease, text-decoration 0.3s ease;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
          box-shadow: 0 4px 10px $very-light-gray;
        }
        .arrow-icon {
          width: 30px;
          height: 30px;
          margin-left: 10px;
        }
      }
    }
  }
}

//phone and tablet view
@media screen and (max-width: 850px) {
  .blog-section-main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 150px;

    .blog-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;

      .blogs-top {
        display: flex;
        margin: 10px;

        .blog-post {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 30px;
          padding: 20px;
          text-align: center;
          color: white;
          margin: 10px;

          img {
            width: 200px;
            height: 200px;
            border-radius: 15px;
          }

          .blog-title {
            margin-top: 10px;
            font-size: 1rem;
          }
        }
      }
      .blogs-bottom {
        display: flex;
        margin: 10px;

        .blog-post {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #333;
          border-radius: 30px;
          padding: 20px;
          text-align: center;
          color: white;
          margin: 10px;

          img {
            width: 200px;
            height: 200px;
            border-radius: 15px;
          }

          .blog-title {
            margin-top: 10px;
            font-size: 1rem;
          }
        }
      }
    }
    .blog-right {
      margin-left: 20px;
      margin-right: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;

      p {
        font-family: "Roboto";
        font-size: 22px;
        font-weight: 100;
        margin-bottom: -20px;
      }
      h2 {
        font-family: "Lexend Exa";
        font-weight: 300;
        font-size: 38px;
        margin-bottom: -15px;
      }
      h5 {
        font-family: "Roboto";
        font-weight: 100;
        font-size: 15px;
        padding-left: 30px;
        padding-right: 20px;
        line-height: 25px;
        text-align: center;
      }
      button {
        background-color: $light-orange;
        border: none;
        padding: 5px;
        color: $black;
        width: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        font-size: 18px;
        font-weight: bold;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        transition: box-shadow 0.3s ease, text-decoration 0.3s ease;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
          box-shadow: 0 4px 10px $very-light-gray;
        }
        .arrow-icon {
          width: 25px;
          height: 25px;
          margin-left: 10px;
        }
      }
    }
  }
}

//phone and small devices
@media screen and (max-width: 540px) {
  .blog-section-main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 130px;

    .blog-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;

      .blogs-top {
        display: flex;
        margin: 10px;

        .blog-post {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 30px;
          padding: 10px;
          text-align: center;
          color: white;
          margin: 5px;

          img {
            width: 120px;
            height: 120px;
            border-radius: 15px;
          }

          .blog-title {
            margin-top: 10px;
            font-size: 0.8rem;
          }
        }
      }
      .blogs-bottom {
        display: flex;
        margin: 10px;

        .blog-post {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #333;
          border-radius: 30px;
          padding: 10px;
          text-align: center;
          color: white;
          margin: 10px;

          img {
            width: 120px;
            height: 120px;
            border-radius: 15px;
          }

          .blog-title {
            margin-top: 10px;
            font-size: 0.8rem;
          }
        }
      }
    }
    .blog-right {
      margin-left: 20px;
      margin-right: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;

      p {
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 100;
        margin-bottom: -20px;
      }
      h2 {
        font-family: "Lexend Exa";
        font-weight: 300;
        font-size: 28px;
        margin-bottom: -15px;
      }
      h5 {
        font-family: "Roboto";
        font-weight: 100;
        font-size: 13px;
        padding-left: 30px;
        padding-right: 20px;
        line-height: 25px;
        text-align: center;
      }
      button {
        background-color: $light-orange;
        border: none;
        padding: 5px;
        color: $black;
        width: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 33px;
        font-size: 15px;
        font-weight: bold;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        transition: box-shadow 0.3s ease, text-decoration 0.3s ease;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
          box-shadow: 0 4px 10px $very-light-gray;
        }
        .arrow-icon {
          width: 20px;
          height: 20px;
          margin-left: 10px;
        }
      }
    }
  }
}
