:root {
  width: 100vw;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #202338;
  overflow-x: hidden;
  height: 100vh;
}
// Colors
$white: #ffffff;
$very-light-gray: #d9d9d9;
$light-gray: #676f9d;
$gray: #424769;
$dark-gray: #202338;
$light-orange: #ffb17a;
$dark-orange: #C17B49;
$black : #000000;
